
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Client</th>
            <th>Priority</th>
            <th>Target Date</th>
            <th>Product Area</th>
        </tr>
    </thead>
    
    <tbody>
        {% if features %}
        {% for feature in features %}
        <tr>
            <td>{{ feature.title }}</td>
            <td>{{ feature.client.value }}</td>
            <td>{{ feature.client_priority }}</td>
            <td>{{ feature.target_date }}</td>
            <td>{{ feature.product_area.value }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="5"><center>Nothing to see here<center><td>
        </tr>
        {% endif %}
    <tbody>
</table>