[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Flask
Flask = "==1.0.2"
MarkupSafe = "==1.1.0"
Werkzeug = "==0.14.1"
Jinja2 = "==2.10"
itsdangerous = "==1.1.0"
# Database
Flask-SQLAlchemy = "==2.3.2"
psycopg2 = "==2.7.6.1"
SQLAlchemy = "==1.2.14"
sqlalchemy-utils = "==0.33.6"
# Migrations
Flask-Migrate = "==2.3.0"
# Deployment
gunicorn = ">=19.1.1"
# Webpack
flask-webpack = "==0.1.0"
# Caching
Flask-Caching = ">=1.0.0"
# Environment variable parsing
environs = "==4.0.0"
flask-debugtoolbar = "*"
wtforms-alchemy = "==0.16.7"
flask-wtf = "==0.14.2"
awsebcli = "*"

[dev-packages]
# Testing
pytest = "==3.10.1"
WebTest = "==2.0.32"
factory-boy = "==2.11.*"
# Lint and code style
flake8 = "==3.6.0"
pep8-naming = "==0.7.0"
black = "==18.9b0"
